div{
    width: 150px;
    height: 150px;
    background-color: rgb(217, 234, 250);
    border: 20px; 
    border-color: black;
    border: solid;
    display: inline-block;
    color: white;
    text-align: center;
}
#container{
    width: 900px;
    height: 600px;
    border: solid; 
    border-color: black;
    display: flex;
    flex-direction: row;
    background-color: blue;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

    /*justify-content: space-between;*/
     /*justify-content: flex-start;*/
      /*justify-content: space-between;*/
       /*justify-content: space-around;*/ 
        /*justify-content: center;*/
         /*justify-content: space-evenly;*/
          /*flex-wrap: wrap;*/
}
body{
    
    background-size: cover;
    background-attachment: fixed;
    background-image: url()
}

#box1{
    position: static;
    top:100px;
    background-size: cover;
    background-image: url()
}
#box2{
    background-color: aqua;
    position: sticky;
    top: 0px;
    bottom: 0px;
    z-index: 1;
}
/*comment*/
#box3{
    background-color: blue;
    position: absolute;
    top: 100px;
    left: 30px;
    flex-shrink: 2;
}
/* use box4 for header */
#box4{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    left: 60px;
}
#box5{
    flex-shrink: 4;
    transition: all;
    transition-duration: 2s;
    transition-delay: 1s;
}
#box5:hover(
    background-color: blue;
    border: solid;
    background-size: cover;
    backgroud-image: url()
    transfrom: skew;
)
@media (width: 600px){
    #box3{
        background-color: brown;
    }
}